<ion-view view-title="New Exercise">
	<ion-nav-bar class="bar-dark">
  		<ion-nav-back-button class="button-clear">
    		<i class="ion-back ion-chevron-left"></i>
  		</ion-nav-back-button>
	</ion-nav-bar>
    <ion-content>
    	<div class="list newExerciseForm">
            <label class="item item-input">
                <input ng-model="exercise.name" type="text">
            </label>
            <label class="labelPlaceholder">Exercise</label>
            <label class="item item-input">
                <input ng-model="exercise.pr" type="text">
            </label>
            <label class="labelPlaceholder center">Pr</label>
            <button ng-click="addNewExercise()" class="button button-full button-dark">Save</button>
        </div>
    </ion-content>
</ion-view>